.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--background-color-white);
  display: flex;
  justify-content: space-around;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  z-index: 1000;
  border-top: 1px solid var(--border-color);
}

.navButton {
  background: none;
  border: none;
  color: #888;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.75rem;
  cursor: pointer;
  flex-grow: 1;
  transition: color 0.2s ease-in-out;
}

.navButton svg {
  font-size: 1.5rem;
  margin-bottom: 4px;
}

.navButton.active {
  color: var(--action-color);
}

.navButton:hover {
  color: var(--action-color);
  filter: brightness(90%);
}
