/* Form Styles */
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.formGroup input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.button {
  padding: 15px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error {
  color: #d9534f;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

.success {
  color: #28a745;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

/* Styles for React Quill */
.quillEditor .ql-toolbar {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #f8f9fa;
}

.quillEditor .ql-container {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-height: 250px;
  font-size: 1rem;
}

.quillEditor .ql-editor {
  min-height: 250px; /* Match container height */
}

.fieldDescription {
    font-size: 0.9rem;
    color: #666;
    margin-top: -10px;
    margin-bottom: 10px;
}

.checkboxGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
}

.checkboxWrapper {
    display: flex;
    align-items: center;
}

.checkboxWrapper input {
    margin-right: 0.5rem;
}

.checkboxWrapper label {
    font-weight: normal;
    color: #333;
}
