/* Form Styles */
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.formGroup {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 10px;
}

.formGroup label {
  font-weight: bold;
  color: #333;
  text-align: right;
}

.formGroup > h3,
.formGroup > ul {
    grid-column: 1 / -1;
    text-align: left;
}

.formGroup input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.button {
  padding: 15px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.deleteButton {
    background-color: #e53e3e;
    color: white;
    padding: 0.4rem 0.8rem;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
}
.deleteButton:hover {
    background-color: #c53030;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.googleButton {
  background-color: #ffffff;
  color: #4285F4;
  border: 1px solid #4285F4;
}

.googleButton:hover {
  background-color: #f2f2f2;
  color: #4285F4;
}

.error {
  color: #d9534f;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

.success {
  color: #28a745;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

/* Styles for React Quill */
.quillEditor .ql-toolbar {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #f8f9fa;
}

.quillEditor .ql-container {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-height: 250px;
  font-size: 1rem;
}

.quillEditor .ql-editor {
  min-height: 250px; /* Match container height */
}

.fieldDescription {
    font-size: 0.9rem;
    color: #666;
    margin-top: -10px;
    margin-bottom: 10px;
}

.checkboxGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
}

.checkboxWrapper {
    display: flex;
    align-items: center;
}

.checkboxWrapper input {
    margin-right: 0.5rem;
}

.checkboxWrapper label {
    font-weight: normal;
    color: #333;
}

.formContainerFullWidth .form {
  max-width: none;
}

.mapContainerFullWidth {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 20px 0; /* Add some vertical padding */
}
